#header {
    font-size: 35px;
	color: #DEB887;
	font-weight: bold;	
    padding: 0px;
    text-align: left;
    font-family: "Curlz MT";

}

#header:hover, #header:active 
{
    background-color: black;
}


#logo {
	
	float: left;
	margin: 10px 20px 30px 35%;
	position: relative;

}


div.top 
{
	clear: left;
	position: fixed;	
	top: 0;
	left: 0;
	background-color: black;
	width: 100%;
	height: 90px;
	padding-bottom: 10px;
	z-index: 99;
    margin-bottom: 10%;
}

ul 
{
        list-style-type: none;
        margin: 0;
        padding: 0;
}

a:link, a:visited 
{

        display: block;
        font-weight: bolder;
        color: black;    
        text-align: center;        
        padding-top: 40px;
        padding-bottom: 50px;
        text-decoration: none;
        text-transform: uppercase;
        font-family: "Book Antiqua";                
        font-size: 15px;
}

a:hover, a:active
{
    background-color: black;
    color: #DEB887;
}


.side
{
	background-color: #DEB887;
	position: fixed;
	left: 0;
	top: 100;
	width: 80px;
	height: 100%;	
	z-index: 90;
}

table, th, td {
    margin: 5% 25% 3% 10%;
    border: 1px solid black;
    border-collapse: collapse;
    font-family: "Book Antiqua";
    color: #DEB887;
}
th
{
    background-color: black;
    opacity: 0.6;
}

#vcode
{
    margin-top: 15%;
    float: left;
    margin-left: 35%;
    color: #DEB887;
    font-size: 20px;
    font-family: "Book Antiqua";
    width: 350px;
    text-align: center;
    border: 2px solid #DEB887;
    padding: 20px;
    background-color: black;
    opacity: 0.7;
}
#totals
{
    //margin: 5% 25% 3% 10%;
    //border: 1px solid black;
    border-collapse: collapse;
    font-family: "Book Antiqua";
    border: 1px solid #320D0D;
    //margin-top: 10%;
    font-size: 20px;
    width:200px; 
    color: #DEB887;   
}

#total
{
    width: 400px;
    float: right;
    //margin-top: 10%;
    margin-right: 35%;
    border: 3px solid #DEB887;
    background-color: black;
    opacity: 0.7;
    //#320D0D;
    
}

th, td
{
    padding: 10px;
    text-align: left;
}

hr
{
    width: 900px;
    border-color: #DEB887;
    margin-top: 10%;
}

.heading 
{
    font-family: "Book Antiqua";                
    font-size: 30px;
    color: #DEB887;     
    text-align: center;
    width: 800px;
    margin-left: 20%;
    margin-top: 8%;
    background-color: black;
    opacity: 0.6;
    border-color: black;
    height: 50px;
    
}

#delete #link
{
    padding:0px;
}

#delete #link:hover, #link:active
{
    background-color: #DEB887;
    color: black;
}

#delete
{
    border-style: solid;
    height: 20px;
    width: 200px;
    background-color: #DEB887;
    float: left;
      margin-right: 0px;
    border-style: solid;
    background-color: #DEB887;
    margin-top: 0px;
    margin-left: 65%;
    text-align:center;
    border-radius: 5px;
    padding: 10px;
    
}

#qty
{
    float: right;
    margin-top: 4%;
    height: 25px;
    width: 50px;
    margin-right: 13%;
}


#ticket
{
   // border: 20px solid black;   
    width: 800px;
    height: 350px;
    padding-bottom: 40px;
    margin-left: 20%;
    margin-top: 10%;
    border-style: solid;
    border: 2px dotted #DEB887;
    //background-color: #DEB887;
    
}
.MovieName
{
    font-family: "Book Antiqua";                
    color: #DEB887;
    margin-top: 5%;
    margin-left: 10%;
    font-weight: 800;   
    font-size: 20px;                
    background-color: black;
    opacity: 0.6;
    padding: 10px;
    width: 500px;
    
}

footer
{            
    padding-top: 5px;
    padding-bottom: 15px;
    clear: left;
    color:#DEB887; 
    bottom: 0;
    width: 100%;
    height: 80px;
    bottom: 0px;
    background-color: black;
    text-align: center;
    z-index: 99;
    
}
body
{
   background-color: #320D0D; 
}